.wp-caption {
	max-width: 100%;
  position: relative;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0.5em;
    color: #eee;
    left:0;
    padding: 0.3em 0.8em;
    position: absolute;
	}
}

.wp-caption-text {
	text-align: center;
}
