.sticky {
	display: block;
}

.hentry {
	margin: 0 0 2.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-footer {
  border-top: 1px solid #ececec;
  margin-top: 0.8em;
  padding-top: 0.4em;
  font-size: 0.8em;
  text-transform: uppercase;
  .entry-title {
    display: none;
  }
}
